.second-page-container{

    display: flex;
    flex-direction: column;

    padding: 5vh 10vw;

}

@media screen and (max-width: 1300px) {
    .second-page-container{
        justify-content: center;
        width: 100%;
        padding: 5vh 0px;
    }

    .projects-container{
        justify-content: center;
        width: 100%;
        align-self: center;
    }
}

.projects-container{
    font-size: 4.5rem;
    font-weight: 500;
    letter-spacing: -0.35rem;
    color: var(--text);
    display: flex;
    flex-direction: column;
    gap: 3rem;

    max-width: 60%;
    z-index: 1;
}


.title-highlighter{
    position: relative;
    width: 15rem;
    height: 2rem;
    background-color: var(--accent);
    z-index: 0;
    bottom: 5.75rem;
    margin-left: 2rem;
    margin-bottom: -5rem;
}

.more-projects-link{
    width: fit-content;
    border-radius: 0.625rem;
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
    color: var(--background);
    padding: 0.15rem 1rem;
    font-size: 1.25rem;
    cursor: pointer;
    background-color: var(--text);
    letter-spacing: normal;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); Box shadow */
}