/* *{
    --text: #060f05;
    --background: #f2fbf2;
    --primary: #71ab6d;
    --secondary: #da8fd0;
    --accent: #d18674;
}

*{
    --text: #050805;
    --background: #f4f9f4;
    --primary: #588157;
    --secondary: #a5d4a4;
    --accent: #75c174;
    
} */

*{
    --text: #060f05;
    --light-text: rgb(53, 65, 50);
    --background: #f2fbf2;
    --primary: #588157;
    --secondary: #da8fd0;
    --accent: #d18674;
}