body{
    margin: 0px;
    font-family: "Poppins", sans-serif;
}

.home-page{

    margin: 0px;
    padding: 0px;

}

.first-page{

    width: 100vw;
    height: 100vh;

    background-color: var(--background);

    display: flex;
    flex-direction: row;
    justify-content: center;

}

.wave{
    position: absolute;
    bottom: -0.5rem;
    width: 100vw;
    height: auto;
    z-index: 0;
}
.wave2{
    position: relative;
    bottom: 35rem;
    width: 100vw;
    height: auto;
    z-index: 0;
}

.second-page{

    width: 100vw;
    height: fit-content;
    padding-bottom: 5rem;
    background-color: var(--primary);

}

.third-page{
    height: fit-content;
}